body {
    background-color: rgba(194, 198, 201);
    background-image: url('./assets/logo-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header,
footer {
    background-color: burlywood;
}

footer {
    padding: 25px 50px;

    li {
        list-style-type: none;

        a {
            color: black;
        }
    }
}